<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
	
	<configuration>
		<typeAliases>
			<typeAlias type="io.rachidassouani.model.Employee" alias="employee"/>
		</typeAliases>
		 <environments default = "development">
		 	<environment id="development">
		 		<transactionManager type="JDBC" />
		 		<dataSource type="POOLED">
		 			<property name="driver" value="org.postgresql.Driver"/>
		 			<property name="url" value="jdbc:postgresql://localhost:5432/springmybatis"/>
		 			<property name="username" value="rachid"/>
		 			<property name="password" value="password"/>
		 		</dataSource>
		 	</environment>
		 </environments>
		 
		 <mappers>
		 	<mapper resource="io/rachidassouani/dao/EmployeeMapper.xml"/>
		 </mappers>
	</configuration>